In [1]:
import pandas as pd

In [2]:
glaxo = pd.read_csv("D:/Chools/GLAXO.csv")
beml = pd.read_csv("D:/Chools/Beml.csv")

In [3]:
glaxo.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2010-01-04,1613.00,1629.10,1602.00,1629.0,1625.65,9365.0,151.74
1,2010-01-05,1639.95,1639.95,1611.05,1620.0,1616.80,38148.0,622.58
2,2010-01-06,1618.00,1644.00,1617.00,1639.0,1638.50,36519.0,595.09
3,2010-01-07,1645.00,1654.00,1636.00,1648.0,1648.70,12809.0,211.00
4,2010-01-08,1650.00,1650.00,1626.55,1640.0,1639.80,28035.0,459.11

In [4]:
beml.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,04-01-2010,1121.0,1151.00,1121.00,1134.0,1135.60,101651,1157.18
1,05-01-2010,1146.8,1149.00,1128.75,1135.0,1134.60,59504,676.47
2,06-01-2010,1140.0,1164.25,1130.05,1137.0,1139.60,128908,1482.84
3,07-01-2010,1142.0,1159.40,1119.20,1141.0,1144.15,117871,1352.98
4,08-01-2010,1156.0,1172.00,1140.00,1141.2,1144.05,170063,1971.42

### Calculate the daily rate of return
#### Display the DataFrame with the calculated daily rate of return

In [5]:
glaxo["Daily_Return"] = (glaxo["Close"].pct_change()*100)
print(glaxo[["Date","Close","Daily_Return"]])

            Date    Close  Daily_Return
0     2010-01-04  1625.65           NaN
1     2010-01-05  1616.80     -0.544398
2     2010-01-06  1638.50      1.342157
3     2010-01-07  1648.70      0.622521
4     2010-01-08  1639.80     -0.539819
...          ...      ...           ...
1734  2016-12-26  2723.50     -0.128346
1735  2016-12-27  2701.75     -0.798605
1736  2016-12-28  2702.15      0.014805
1737  2016-12-29  2727.90      0.952945
1738  2016-12-30  2729.80      0.069651

[1739 rows x 3 columns]

In [6]:
beml["Daily_Return"] = (beml["Close"].pct_change()*100)
print(beml[["Date","Close","Daily_Return"]])

            Date    Close  Daily_Return
0     04-01-2010  1135.60           NaN
1     05-01-2010  1134.60     -0.088059
2     06-01-2010  1139.60      0.440684
3     07-01-2010  1144.15      0.399263
4     08-01-2010  1144.05     -0.008740
...          ...      ...           ...
1734  26-12-2016   950.25     -2.192373
1735  27-12-2016   975.70      2.678243
1736  28-12-2016   974.40     -0.133238
1737  29-12-2016   986.05      1.195608
1738  30-12-2016  1000.60      1.475584

[1739 rows x 3 columns]

### Calculate standard deviation of daily returns for each stock

In [7]:
Volatility_glaxo = glaxo['Daily_Return'].std()
Volatility_beml = beml['Daily_Return'].std()

### Display the standard deviation of daily returns for both stocks

In [8]:
print("Volatility for glaxo :", Volatility_glaxo)
print("Volatility for beml :", Volatility_beml)

Volatility for glaxo : 1.3360538552253338
Volatility for beml : 2.6430831468474874

### Compare and identify the stock with higher volatility

In [9]:
if Volatility_glaxo > Volatility_beml:
    print("Glaxo has higher volatility.")
elif Volatility_glaxo < Volatility_beml:
    print("Beml has higher volatility.")
else:
    print("Both Stock have same volatility")

Beml has higher volatility.

### Calculate the percentage of days with a daily return of 2% or more for each stock

In [10]:
prob_glaxo = (glaxo['Daily_Return']>= 2).mean()*100
prob_beml = (beml['Daily_Return']>= 2).mean()*100

### Display the probabilities for both stocks

In [11]:
print("Probabi1ity of a daily loss 2% for glaxo:", prob_glaxo,"%")
print("Probabi1ity of a daily loss 2% for beml:", prob_beml,"%")

Probabi1ity of a daily loss 2% for glaxo: 4.945370902817711 %
Probabi1ity of a daily loss 2% for beml: 14.951121334100057 %

### Compare and identify the stock with a higher probability

In [12]:
if prob_glaxo > prob_beml:
    print("Glaxo has a higher Probability of a daily return of 2% or more")
elif prob_glaxo < prob_beml:
    print("Beml has a higher Probability of a daily return of 2% or more")
else:
    print("Both the stocks has higher Probability of a daily return of 2% or more")

Beml has a higher Probability of a daily return of 2% or more

### Calculate the percentage of days with a daily return less than -2% for each stock

In [13]:
prob_loss_glaxo = (glaxo['Daily_Return']<= -2).mean()*100
prob_loss_beml = (beml['Daily_Return']<= -2).mean()*100

### Display the probabilities of a loss of 2% or more for both stocks

In [14]:
print("Probability of a daily loss >= 2% for Glaxo:", prob_loss_glaxo,"%")
print("Probability of a daily loss >= 2% for Beml:", prob_loss_beml,"%")

Probability of a daily loss >= 2% for Glaxo: 4.427832087406555 %
Probability of a daily loss >= 2% for Beml: 16.216216216216218 %

### Compare and identify the stock with a higher probability of a loss

In [15]:
if prob_loss_glaxo > prob_loss_beml:
    print("Probability of a daily loss >= 2% for Glaxo:", prob_glaxo)
elif prob_loss_glaxo < prob_loss_beml:
    print("Probability of a daily loss >= 2% for Beml:", prob_beml)    
else:
    print("Both the stocks has the same Probability of a daily return of 2% or more")

Probability of a daily loss >= 2% for Beml: 14.951121334100057