In [54]:
pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in c:\users\student\anaconda3\lib\site-packages (1.0.2)
Collecting scikit-learn
  Downloading scikit_learn-1.4.0-1-cp39-cp39-win_amd64.whl (10.6 MB)
     ---------------------------------------- 10.6/10.6 MB 9.9 MB/s eta 0:00:00
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\student\anaconda3\lib\site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: scipy>=1.6.0 in c:\users\student\anaconda3\lib\site-packages (from scikit-learn) (1.9.1)
Collecting joblib>=1.2.0
  Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
     -------------------------------------- 302.2/302.2 kB 9.4 MB/s eta 0:00:00
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\student\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Installing collected packages: joblib, scikit-learn
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.0
    Uninstalling joblib-1.1.0:
      Successfully uninstalled joblib-1.1.0
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.2
    Uninstalling scikit-learn-1.0.2:
      Successfully uninstalled scikit-learn-1.0.2
Successfully installed joblib-1.3.2 scikit-learn-1.4.0
Note: you may need to restart the kernel to use updated packages.

In [48]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("C:/Users/Student/Downloads/claimants.csv")
df

      CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0           5         0     0.0       1.0       0.0    50.0  34.940
1           3         1     1.0       0.0       0.0    18.0   0.891
2          66         1     0.0       1.0       0.0     5.0   0.330
3          70         0     0.0       1.0       1.0    31.0   0.037
4          96         1     0.0       1.0       0.0    30.0   0.038
...       ...       ...     ...       ...       ...     ...     ...
1335    34100         1     0.0       1.0       0.0     NaN   0.576
1336    34110         0     1.0       1.0       0.0    46.0   3.705
1337    34113         1     1.0       1.0       0.0    39.0   0.099
1338    34145         0     1.0       0.0       0.0     8.0   3.177
1339    34153         1     1.0       1.0       0.0    30.0   0.688

[1340 rows x 7 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CASENUM   1340 non-null   int64
 1   ATTORNEY  1340 non-null   int64
 2   CLMSEX    1328 non-null   float64
 3   CLMINSUR  1299 non-null   float64
 4   SEATBELT  1292 non-null   float64
 5   CLMAGE    1151 non-null   float64
 6   LOSS      1340 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 73.4 KB

In [5]:
df.isnull().sum()

CASENUM       0
ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [8]:
df.dropna(inplace= True)

In [9]:
df.isnull().sum()

CASENUM     0
ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [40]:
for i in df.columns:
    print(i,df[i].nunique())

CASENUM 1061
ATTORNEY 2
CLMSEX 2
CLMINSUR 2
SEATBELT 2
CLMAGE 68
LOSS 799

In [41]:
cate_col = ["CLMSEX","CLMINSUR","SEATBELT"]
num_col = ['CLMAGE','LOSS']

In [42]:
from sklearn.impute import SimpleImputer

num_imputer = SimpleImputer(strategy = "mean")
cate_imputer = SimpleImputer(strategy = "most_frequent")

In [56]:
num_imputed = pd.DataFrame(num_imputer.fit_transform(df[num_col]))
cate_imputed = pd.DataFrame(cate_imputer.fit_transform(df[cate_col]))

C:\Users\Student\anaconda3\lib\site-packages\sklearn\impute\_base.py:49: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)

In [60]:
preprocessed_df = np.c_[num_imputed,cate_imputed]
preprocessed_df = pd.DataFrame(preprocessed_df,columns = [1,2,3,4,5])

In [63]:
preprocessed_df.isnull().sum()

1    0
2    0
3    0
4    0
5    0
dtype: int64

In [64]:
X = preprocessed_df
y = df['ATTORNEY']

In [66]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 42)

In [67]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [68]:
X_train = scaler.fit_transform(X_train)

In [69]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

In [70]:
model.fit(X_train,y_train)

LogisticRegression()

In [72]:
X_test = scaler.transform(X_test)

y_pred = model.predict(X_test)

In [74]:
from sklearn.metrics import accuracy_score,r2_score

print(accuracy_score(y_test,y_pred))
print(r2_score(y_test,y_pred))

0.6818181818181818
-0.2728324654930159